.app-bar {
    padding: 16px;
     height: 45px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
     color: rgba(15, 15, 221, 0.76);
     margin-top: 5px;
}
.app-bar h2{
    margin-top: 5px;
}
header{
  position: sticky;
  top: 0;
}