.app-bar {
     
     height: 90px;
    background-color:  rgb(104, 102, 100);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
     color: whitesmoke
     

}
.logo {
  
    float: left;
    font-size: 30px;
    padding: 30px 50px;
}
.list li {

  list-style: none;
  float: right;
  padding: 37px 30px;
  font-size: 16px;

}
nav li a {
  text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
  color: white;
  display: block;
}


nav li:hover {
	font-weight: bold;
	font-size:1.5em;
  text-decoration: underline;
  color: white;
  background-color: whitesmoke;
  height: 17px;
}


header{
  position: sticky;
  top: 0;
  height: 90px;
}

 



