@import "appbar.css";
@import "clublist.css";
@import "searchbar.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
}
footer{
    display: block;
    padding: 20px;
    color: white;
    background-color: rgb(255, 146, 4);
    text-align: center;
    font-weight: bold;
 }