@import "appbar.css";
@import "spotlist.css";


body {
    font-family: sans-serif;
    background-image:url(https://gblobscdn.gitbook.com/assets%2F-LiR2ZMOIaxmhLlPQhLa%2F-LsKO0ePPOrb2KQEd7Gq%2F-LsKOnZbYN8Zs5H89ODH%2Fpattern.jpg?alt=media&token=27a7b746-8252-45a5-8df2-b1b68fb8ceae);
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
}
footer{
    display: block;
    padding: 10px;
    color: white;
    background-color: rgb(104, 102, 100);
    text-align: center;
    font-weight: bold;
 }